* {
    font-size: 16px;
}


html, button, input, optgroup, select, textarea {
    font-family: monospace;
    outline: none;
    border-color: transparent;
    list-style-type: none;
    margin: auto;
}
button, input {
    background-color: darkgrey;
}
button:active {
    background-color: grey;
}

.grid-container {
    display: grid;
    column-gap: 50px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    text-align: center;
    background-color: white;

}

#voteBox {
    grid-area: 1 / 1 / 2 / 3;
    background-color: lightgrey;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
}
#qrCodeBox {
    grid-area: 2 / 1 / 3 / 2;
    background-color: lightgrey;
    padding: 30px;
    border-radius: 15px;
}
#keyBox {
    grid-area: 2 / 2 / 3 / 3;
    background-color: lightgrey;
    padding: 30px;
    border-radius: 15px;
}

@media screen and (max-width: 790px)  {

    #voteBox {
        grid-area: 1 / 1 / 2 / 2;
        background-color: lightgrey;
        padding: 4px;
        border-radius: 15px;
        margin: auto;
    }
    #qrCodeBox {
        grid-area: 2 / 1 / 3 / 2;
        background-color: lightgrey;
        padding: 4px;
        border-radius: 15px;
    }
    #keyBox {
        grid-area: 3 / 1 / 4 / 2;
        background-color: lightgrey;
        padding: 4px;
        border-radius: 15px;
    }
}